<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Add or update tasks here</h2>
    <%= form_for(@item) do |f| %>
      <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label "Task" %><br>
        <%= f.text_field :chore, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Due By" %><br>
        <%= f.date_select :dueby, class: "form-control" %>
      </div>
      <div class="actions form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
